<div id="comment">
  <div class="user-name">
    <%= comment.user.user_name %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <% if policy(comment).destroy? %>
    <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: 'Вы уверены?' }, remote: true do %>
      <span class="fa fa-times delete-comment"></span>
    <% end %>
  <% end %>
</div>
