.navbar {
  border: none;
  border-radius: 0 !important;
  width: 100%;
}

@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}

@include media-breakpoint-down(xs) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    .card {
    margin-top: 15px;
    }
}

.navbar .navbar-light .navbar-toggleable-sm .bg-faded .justify-content-center {
  position: relative;
}

 .navbar-brand {
  a {
    color: #125688;
  }
}

.navbar .navbar-light .navbar-toggleable-sm .bg-faded .justify-content-center {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}
