<li class="nav-item">
  <div class="dropdown notification-dropdown">
    <button class="btn btn-secondary dropdown-toggle fa fa-flag nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       <%= current_user.notifications.where(read: false).count %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <h6 class="dropdown-header text-center">Уведомления</h6>
      <ul class='text-center'>
        <%= render current_user.notifications.order(created_at: :desc).last(5) %>
      </ul>
      <div class="dropdown-divider"></div>
      <%= link_to 'Посмотреть все', notifications_path, class: 'dropdown-item text-center' %>
    </div>
  </div>
</li>
