<div class="container">
  <div class="row">
    <div class="col-6 offset-md-3">
      <ul class="notification-index-list">
        <%= render @notifications %> 
      </ul>
    </div>
  </div>
</div>
