@import 'bootstrap';
@import 'font-awesome';
@import 'components/navbar';
@import 'components/body';
@import 'components/wrapper';
@import 'components/posts';

// .like {
//   text-decoration: none;
//   color: red;
// }
// .like-button a:hoover, a:focus {
//   text-decoration: none;
//   color: red;
// }

html, body {
  margin: 0;
  height: 100%;
}

.registration-bg {
  padding-top: 4em;
  background-image: image-url('welcome.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
  height:80%;
  object-fit: cover;
}

.log-in {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading {
  h1 {
    text-align: center;
  }
}

.navbar {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}

.login-bg {
  padding-top: 4em;
  // height: 100%;
  background-image: image-url('welcome.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
  height:80%;
  object-fit: cover;
}

#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #2D6DA8;
  }
}

.comments{
  .paginator {
    // margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}
