<div class='col-sm-6 col-lg-4'>
  <div class="card hvr-grow">
    <div class="card-block">
    <%= link_to post do %>
      <h4 class="card-title"><%= post.title %></h4>
      <div class="card-topper"><%= image_tag post.image_url(:thumb) %></div>
    <% end %>
        <p class="card-text"><%= truncate(post.description, length: 130) %></p>
    </div>
  </div>
</div>

