<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Показать', @post, class: 'btn btn-sm btn-warning' %>
<%= link_to 'Вернуться', posts_path, class: 'btn btn-sm btn-success' %>
<%= link_to 'Удалить', post_path(@post), method: :delete,
data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
