<hr>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Приложение</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Конакты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Обо мне</a>
  </li>
</ul>
